/*
 * Font Custom: SCSS
 */

@font-face {
  font-family: "sparklets";
  src: font-url("sparklets.eot");
  src: font-url("sparklets.eot?#iefix") format("embedded-opentype"),
       font-url("sparklets.woff") format("woff"),
       font-url("sparklets.ttf") format("truetype"),
       font-url("sparklets.svg#sparklets") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin sparklets-icon {
  font-family: "sparklets";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

%sparklets-icon {
  @include sparklets-icon;
}



@mixin icon-arrow-down {
  content: "\f100";
}

%icon-arrow-down{
  @include icon-arrow-down;
}

.icon-arrow-down {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-down;
  }
}


@mixin icon-arrow-future {
  content: "\f101";
}

%icon-arrow-future{
  @include icon-arrow-future;
}

.icon-arrow-future {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-future;
  }
}


@mixin icon-arrow-up {
  content: "\f102";
}

%icon-arrow-up{
  @include icon-arrow-up;
}

.icon-arrow-up {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-arrow-up;
  }
}


@mixin icon-careerpost {
  content: "\f103";
}

%icon-careerpost{
  @include icon-careerpost;
}

.icon-careerpost {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-careerpost;
  }
}


@mixin icon-connect-emailclosed {
  content: "\f104";
}

%icon-connect-emailclosed{
  @include icon-connect-emailclosed;
}

.icon-connect-emailclosed {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-emailclosed;
  }
}


@mixin icon-connect-facebook {
  content: "\f105";
}

%icon-connect-facebook{
  @include icon-connect-facebook;
}

.icon-connect-facebook {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-facebook;
  }
}


@mixin icon-connect-googleplus {
  content: "\f106";
}

%icon-connect-googleplus{
  @include icon-connect-googleplus;
}

.icon-connect-googleplus {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-googleplus;
  }
}


@mixin icon-connect-mailinglist {
  content: "\f107";
}

%icon-connect-mailinglist{
  @include icon-connect-mailinglist;
}

.icon-connect-mailinglist {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-mailinglist;
  }
}


@mixin icon-connect-twitter {
  content: "\f108";
}

%icon-connect-twitter{
  @include icon-connect-twitter;
}

.icon-connect-twitter {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-twitter;
  }
}


@mixin icon-connect-youtube {
  content: "\f109";
}

%icon-connect-youtube{
  @include icon-connect-youtube;
}

.icon-connect-youtube {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-connect-youtube;
  }
}


@mixin icon-event {
  content: "\f10a";
}

%icon-event{
  @include icon-event;
}

.icon-event {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-event;
  }
}


@mixin icon-filter {
  content: "\f10b";
}

%icon-filter{
  @include icon-filter;
}

.icon-filter {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-filter;
  }
}


@mixin icon-healtharticle {
  content: "\f10c";
}

%icon-healtharticle{
  @include icon-healtharticle;
}

.icon-healtharticle {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-healtharticle;
  }
}


@mixin icon-large-email {
  content: "\f10d";
}

%icon-large-email{
  @include icon-large-email;
}

.icon-large-email {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-email;
  }
}


@mixin icon-large-facebook {
  content: "\f10e";
}

%icon-large-facebook{
  @include icon-large-facebook;
}

.icon-large-facebook {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-facebook;
  }
}


@mixin icon-large-googleplus {
  content: "\f10f";
}

%icon-large-googleplus{
  @include icon-large-googleplus;
}

.icon-large-googleplus {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-googleplus;
  }
}


@mixin icon-large-more {
  content: "\f110";
}

%icon-large-more{
  @include icon-large-more;
}

.icon-large-more {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-more;
  }
}


@mixin icon-large-twitter {
  content: "\f111";
}

%icon-large-twitter{
  @include icon-large-twitter;
}

.icon-large-twitter {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-large-twitter;
  }
}


@mixin icon-location {
  content: "\f112";
}

%icon-location{
  @include icon-location;
}

.icon-location {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-location;
  }
}


@mixin icon-news {
  content: "\f113";
}

%icon-news{
  @include icon-news;
}

.icon-news {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-news;
  }
}


@mixin icon-person {
  content: "\f114";
}

%icon-person{
  @include icon-person;
}

.icon-person {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-person;
  }
}


@mixin icon-scripps-logo {
  content: "\f115";
}

%icon-scripps-logo{
  @include icon-scripps-logo;
}

.icon-scripps-logo {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-scripps-logo;
  }
}


@mixin icon-search {
  content: "\f116";
}

%icon-search{
  @include icon-search;
}

.icon-search {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-search;
  }
}


@mixin icon-service {
  content: "\f117";
}

%icon-service{
  @include icon-service;
}

.icon-service {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-service;
  }
}


@mixin icon-small-cost {
  content: "\f118";
}

%icon-small-cost{
  @include icon-small-cost;
}

.icon-small-cost {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-cost;
  }
}


@mixin icon-small-date {
  content: "\f119";
}

%icon-small-date{
  @include icon-small-date;
}

.icon-small-date {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-date;
  }
}


@mixin icon-small-email {
  content: "\f11a";
}

%icon-small-email{
  @include icon-small-email;
}

.icon-small-email {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-email;
  }
}


@mixin icon-small-facebook {
  content: "\f11b";
}

%icon-small-facebook{
  @include icon-small-facebook;
}

.icon-small-facebook {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-facebook;
  }
}


@mixin icon-small-googleplus {
  content: "\f11c";
}

%icon-small-googleplus{
  @include icon-small-googleplus;
}

.icon-small-googleplus {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-googleplus;
  }
}


@mixin icon-small-more {
  content: "\f11d";
}

%icon-small-more{
  @include icon-small-more;
}

.icon-small-more {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-more;
  }
}


@mixin icon-small-new {
  content: "\f11e";
}

%icon-small-new{
  @include icon-small-new;
}

.icon-small-new {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-new;
  }
}


@mixin icon-small-time {
  content: "\f11f";
}

%icon-small-time{
  @include icon-small-time;
}

.icon-small-time {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-time;
  }
}


@mixin icon-small-twitter {
  content: "\f120";
}

%icon-small-twitter{
  @include icon-small-twitter;
}

.icon-small-twitter {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-twitter;
  }
}


@mixin icon-small-video {
  content: "\f121";
}

%icon-small-video{
  @include icon-small-video;
}

.icon-small-video {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-small-video;
  }
}


@mixin icon-trial {
  content: "\f122";
}

%icon-trial{
  @include icon-trial;
}

.icon-trial {
  &:before {
    @extend %sparklets-icon;
    @extend %icon-trial;
  }
}

